.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 50vh;
}

.content {
  margin-block-start: var(--space-base);
  color: var(--color-hint);
  font-size: var(--font-big);
}
